<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src = "@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}">
    </script>

</head>
<div class="container" style="margin-top: 30px; margin-right:-95px">
    <a class="btn btn-primary" th:href="@{'/recipe/find/'+${recipe.get().id}}">
        Back to <span th:text="${recipe.get().description}"></span>
    </a>

</div>

<body>

<!--/*@thymesVar id="recipe" type="prat.learning.recipebook.Model.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title"> Ingredients</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:each="ingredients:${recipe.get().ingredients}">
                                <td th:text="${ingredients.id}"></td>
                                <td th:text="${ingredients.amount}+' '+${ingredients.description}"></td>
                                <td><a href="#" th:href="@{'/ingredient/find/'+${recipe.id}+${ingredients.id}}">View</a></td>
                                <td><a href="#" th:href="@{'/ingredient/update/'+${recipe.id}+${ingredients.id}}">Update</a></td>
                                <td><a href="#" th:href="@{'/ingredient/delete/'+${recipe.id}+${ingredients.id}}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>